/*
  homepage styles
*/

.home-intro {
  background: white!important;
  z-index: 6!important;
  color: $color-black!important;
}

.home-portfolio {
  // padding-top: 100vh;
  background: white;
}

.cursor-follow {
  position: inherit;
  background: $color-black;
  mix-blend-mode: normal;
  h3 {
    padding: 150px 30px;
    color: white;
  }
  display: block;
  @include breakpoint(md) {
    background: transparent;
    mix-blend-mode: difference;
    position: absolute;
    z-index: 3;
    height: 50px;
    margin-top: -25px;
    margin-left: 30px;
    width: auto;
    opacity: 0;
    transition: opacity 400ms;
    transition-delay: 0s;
    width: 500px;
    color: $color-gray;
    &.active {
      opacity: 1;
    }
    h3 {
      padding: 0;
    }
  }
  h3 {
    line-height: 1;
  }
}
