

.portfolio {
  line-height: 0;
  img, video {
    width: 100%;
    height: auto;
    padding: 0px 30px;
    @include breakpoint(sm) {
      padding: 0;
    }
    @include breakpoint(md) {
      padding: 0;
    }
  }

  .portfolio-section {
    background: white;
    overflow: hidden;
    padding: 0 0 90px 0;
    display: block;
    @include breakpoint(md) {
      padding: 0;
      background: transparent;
    }
  }
  .overlay {
    transform: translateX(-100vw);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 3;
    transition: all .8s;
    visibility: hidden;
    opacity: 0;
    h6 {
      position: absolute;
      bottom: 40px;
      right: 40px;
      text-orientation: sideways-right;
      writing-mode: vertical-rl;
      margin: 0;
    }
  }
  .overlay.active-overlay  {
    visibility: visible;
    opacity: 1;
    transform: translateX(0vw);
  }
}

.home-portfolio {
  margin-top: 100vh;
}

.cursor-follow {
  display: none;
  position: absolute;
  z-index: 3;
  height: 75px;
  width: auto;
  opacity: 0;
  transition: opacity 400ms;
  transition-delay: 0s;
  width: 500px;
  &.active {
    opacity: 1;
  }
  @include breakpoint(md) {
    display: block;
  }
}

.gray-bg {
  background: $color-dark-gray;
}

.dark-bg {
  background: $color-black;
  h1,h2,h3,h4,h5,p,a, ul,li {
    color: white;
  }
}

.about-content {
  margin-top: 60px;
  margin-bottom: 60px;
}

.portfolio-page {
  img, video {
    cursor: pointer;
  }
}

.portfolio-description {
  padding: 30px;
  min-height: 100vh;
}

.project-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-black;
  z-index: 3;
  color: white;
  pointer-events: none;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-name: fadeOut;
  padding: 30px;
  h2 {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: .5s;
    animation-duration: 2.5s;
    animation-name: fadeInOut;
  }
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
