/*
  Footer styles
*/

.footer {
  p {
    margin: 0;
    line-height: 1.2;
    a {
      text-decoration: none;
    }
  }
}

.about-page, .portfolio-page {
  .footer {
    .about-link {
      display: none;
    }
  }
}
