/*
  Header styles
*/


header .fixed-header {
  position: fixed;
  z-index: 5;
  opacity: 1;
  transition: opacity .4s;
  line-height: 1!important;
  .h2 {
    line-height: 1!important;
  }
  a {
    text-decoration: none;
    color: white;
    line-height: 1!important;
  }
}
.logo {
 top: 30px;
 left: 30px;
}
.home {
 right: 30px;
 top: 50%;
 height: 98px;
 width: 55px;
 text-align: right;
 margin-top: -49px;
 a.h1 {
  font-size: 90px;
   }
}
.description {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.about-page, .portfolio-page {
 .logo {
   display: none;
 }
}
